# intellij
*.iml
*.ipr
*.iws
.idea/
.idea

#src folder from requirejs optimization tool
src-built/

# OS X
.DS_Store?
Icon?

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini

# eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# CDT-specific
.cproject
