@import url( reset.css );


html, body { overflow: hidden; height: 100%; }

.game-container  { height: 500px; margin: 0 100px; position: relative; overflow: hidden;}
.game-container .background {  
	position: absolute; top: 0; left: 0; 
	background-color: #00f; opacity: 0.05;
	height: 100%; width: 100%; 
}

.game-container .character { 
	position: absolute; top: 200px; left: 200px; width: 16px; height: 16px;
	background-image: url( ../img/smb_mario_sheet.png ); background-repeat: no-repeat; background-position: -210px 0;
}

#logger { font-family: monospace; padding: 20px; position: absolute; left: 0; bottom: 0; height: 160px; width: 1000px; background-color: #000; color: #fff; }