@import url( reset.css );
@import url( overlays.css );

.hide { display: none; }

.konami-code-disabled { display: none; }
.konami-code-enabled .konami-code-disabled { display: block; }

html, body { font-family: Helvetica, Arial,sans-serif; font-size: 12px;
	background-color: #f2f7fb; background-image: url( ../img/global/bg-main.png ); background-position: 50% 0;
	background-repeat: no-repeat;
}
nav.main { width: 900px; margin: 0 auto 40px; }
nav.main ul { overflow: hidden; }
nav.main ul li { float: left; }
nav.main ul li a {
	overflow: hidden; text-indent: -9999px; width: 160px; height: 58px;
	float: left; background-repeat: no-repeat; background-position: 0 0;
}
nav.main ul li.instructions a { background-image: url( ../img/global/nav-instructions.png ); }
nav.main ul li.share a { background-image: url( ../img/global/nav-share.png ); }
nav.main ul li.ogilvy-logo { float: right; width: auto; height: auto; padding-top: 10px; }
nav.main ul li.ogilvy-logo a { width: 72px; height: 53px; float: right; background-image: url( ../img/global/logo-ogilvy.png ); }

footer { margin: 10px auto; width: 900px; text-align: center; font-size: 11px; color: #6a7073; }
footer a { font-size: 11px; color: #005072; }

.game-container  { width: 640px; height: 480px; margin: auto; position: relative; overflow: hidden;}
.game-container .background {
	position: absolute; top: 0; left: 0;
	background-color: #ffffff; opacity: 1;
	height: 100%; width: 100%;
}

.game-container .character p {
	position: absolute; bottom: -10px; left: 0;
}
.game-container .character {
	position: absolute; top: 200px; left: 200px; width: 20px; height: 20px;
	background-repeat: no-repeat; background-position: 50% 50%; font-size: 10px; font-weight: bold;
}

.game-container { background-image: url( ../img/global/bg-field.png ); background-position: 0 0; background-repeat: no-repeat; }

.game-container .character { position: absolute; z-index: 1000; width: 32px; height: 50px; }
.game-container .game-entity-view { position: absolute; z-index: 2000; }
.game-container .game-entity-view.projectile-snowball { z-index: 3000; }

.game-container .character.smash-tv { background-image: url( ../img/entities/characters/smash-tv.png ); height: 26px; width: 26px; }
.game-container .character.character-snowman { background-image: url( ../img/entities/characters/snowman.png ); }
.game-container .character.character-robot { background-image: url( ../img/entities/characters/robot.png ); }
.game-container .character.character-penguin { background-image: url( ../img/entities/characters/penguin.png ); }
.game-container .character.character-tree {  background-image: url( ../img/entities/characters/tree.png ); }
.game-container .character.character-yeti { background-image: url( ../img/entities/characters/yeti.png ); }

.game-container .character.rotation-0 { background-position: -64px 0; }
.game-container .character.rotation-45 { background-position: -32px 0; }
.game-container .character.rotation-90 { background-position: -0 0; }
.game-container .character.rotation-135 { background-position: -32px 0; -webkit-transform: scaleX(-1); }

.game-container .character.rotation-180 { background-position: -64px 0; -webkit-transform: scaleX(-1); }
.game-container .character.rotation-225 { background-position: -96px 0; -webkit-transform: scaleX(-1); }
.game-container .character.rotation-270 { background-position: -128px 0; }
.game-container .character.rotation-315 { background-position: -96px 0; }

.game-container .character.rotation-135 p,
.game-container .character.rotation-180 p,
.game-container .character.rotation-225 p { -webkit-transform: scaleX(-1); right: 0; }

.game-container .character.stars-1 { background-position: -160px 0 !important; }
.game-container .character.stars-2 { background-position: -192px 0 !important; }

.game-container .character.smash-tv.rotation-0 { background-position: -52px 0; }
.game-container .character.smash-tv.rotation-45 {  background-position: -26px 0; }
.game-container .character.smash-tv.rotation-90 { background-position: 0 0; }
.game-container .character.smash-tv.rotation-135 { background-position: -26px 0; -webkit-transform: scaleX(-1); }
.game-container .character.smash-tv.rotation-180 { background-position: -52px 0; -webkit-transform: scaleX(-1); }
.game-container .character.smash-tv.rotation-225 { background-position: -78px 0; -webkit-transform: scaleX(-1);}
.game-container .character.smash-tv.rotation-270 { background-position: -104px 0; }
.game-container .character.smash-tv.rotation-315 { background-position: -78px 0; }

/** projectiles **/
.game-container .game-entity-view.projectile-snowball { background-image: url( '../img/entities/projectiles/projectiles.png' ); height: 32px; width: 50px; }

/** field entities */
.game-container .game-entity-view.field-entity-default { background-image: url( '../img/entities/field/block-of-ice-4.png' ); height: 99px; width: 88px;}
.game-container .game-entity-view.ginger-bread-house { background-image: url( '../img/entities/field/ginger-bread-house.png' ); width: 146px; height: 157px; }
.game-container .game-entity-view.block-of-ice-1 { background-image: url( '../img/entities/field/block-of-ice-1.png' ); width: 29px; height: 37px; }
.game-container .game-entity-view.block-of-ice-2 { background-image: url( '../img/entities/field/block-of-ice-2.png' ); width: 52px; height: 42px; }
.game-container .game-entity-view.block-of-ice-3 { background-image: url( '../img/entities/field/block-of-ice-3.png' ); width: 42px; height: 38px; }
.game-container .game-entity-view.block-of-ice-4 { background-image: url( '../img/entities/field/block-of-ice-4.png' ); width: 99px; height: 88px; }
.game-container .game-entity-view.block-of-ice-5 { background-image: url( '../img/entities/field/block-of-ice-5.png' ); width: 94px; height: 87px; }
.game-container .game-entity-view.block-of-ice-6 { background-image: url( '../img/entities/field/block-of-ice-6.png' ); width: 84px; height: 72px; }
.game-container .game-entity-view.ice-mountain-with-ogilvy-flag { background-image: url( '../img/entities/field/ice-mountain-with-ogilvy-flag.png' ); width: 173px; height: 223px; }
.game-container .game-entity-view.igloo-green-flag { background-image: url( '../img/entities/field/igloo-green-flag.png' ); width: 117px; height: 120px; }
.game-container .game-entity-view.igloo-red-flag { background-image: url( '../img/entities/field/igloo-red-flag.png' ); width: 117px; height: 120px; }
.game-container .game-entity-view.lake-with-horizontal-bridge { background-image: url( '../img/entities/field/lake-with-horizontal-bridge.png' ); width: 164px; height: 137px; }
.game-container .game-entity-view.lake-with-vertical-bridge { background-image: url( '../img/entities/field/lake-with-vertical-bridge.png' ); width: 246px; height: 160px; }
.game-container .game-entity-view.large-pond-1 { background-image: url( '../img/entities/field/large-pond-1.png' ); width: 182px; height: 209px; }
.game-container .game-entity-view.small-pond-1 { background-image: url( '../img/entities/field/small-pond-1.png' ); width: 86px; height: 72px; }
.game-container .game-entity-view.small-pond-2 { background-image: url( '../img/entities/field/small-pond-2.png' ); width: 95px; height: 83px; }
.game-container .game-entity-view.small-pond-3 { background-image: url( '../img/entities/field/small-pond-3.png' ); width: 124px; height: 122px; }



section.game-status { overflow: hidden; width: 900px; margin: -34px auto 2px; position: relative; height: 32px; z-index: 2000; }
section.game-status dl dt, section.game-status dl dd { float: left; }
section.game-status dl dt { text-indent: -9999px; overflow: hidden; background-position: 0 100%; background-repeat: no-repeat; height: 18px; margin-top: 11px; padding-right: 6px; }

section.game-status dl .score { color: #20629a }
section.game-status dl .total-players { color: #03959e; }
section.game-status dl .rank { color: #546fd3; }
section.game-status dl .time-left { color: #167392; }

section.game-status dl dt.score { background-image: url( '../img/global/txt-your-score.png' ); width: 31px; }
section.game-status dl dt.total-players { background-image: url( '../img/global/txt-players-on-map.png' ); width: 43px; }
section.game-status dl dt.rank { background-image: url( '../img/global/txt-your-rank.png' ); width: 27px; }
section.game-status dl dt.time-left { background-image: url( '../img/global/txt-time-left.png' ); width: 24px; }
section.game-status dd.invite-friend { width:157px; height: 35px;background: url(../img/global/bg-invite-friend.png) no-repeat bottom left; text-indent:-9999px;overflow:hidden;cursor:pointer}
section.game-status dl dd { font-family: Arial; font-size: 34px; line-height: 34px; width: 100px; margin-right: 20px; }


#logger { display: none; font-family: monospace; padding: 20px; position: absolute; left: 0; top: 0; height: 50px; width: 200px; background-color: #000; color: #fff; }