@import url( reset.css );

html, body { overflow: hidden; height: 100%; font-family: Helvetica, Arial,sans-serif; font-size: 12px;
	background-image: url("../img/global/backgroundGradient.png");
	background-repeat: repeat-x;
}

.site-message { position: absolute; bottom: 200px; width: 100%; }
.site-message .wrapper { 
	width: 250px; margin: auto; padding: 11px; color: #7eabba;
	border-radius: 20px; border: 3px solid #ff8e8e; background-color: #f3fcff;
}

.site-message p { padding-bottom: 10px; font-size: 16px; line-height: 20px; font-weight: bold; }
.site-message label { display: block; padding: 0 5px; }
.site-message input[type='text'] { font-size: 16px; padding: 5px; border-radius: 5px; width: 225px; margin-bottom: 10px; }
.site-message input[type='submit'] { padding: 0 30px; background-color: #f3fcff;
	border-style: solid; border-color: #ff8e8e; border-radius: 5px; color: #7eabba;
	border-width: 2px;
	font-size: 16px; line-height: 20px;
} 
	
.site-message input[type='button']:hover { background-color: #f3fcff; border-color: #c13b3b; color: #7eabba; }
.site-message input[type='button']:active { background-color: #f3fcff; border-color: #c13b3b; color: #6398aa; }

.game-container  { width: 640px; height: 480px; margin: 0; position: relative; overflow: hidden;}
.game-container .background {  
	position: absolute; top: 0; left: 0; 
	background-color: #dddddd; opacity: 0.05;
	height: 100%; width: 100%; 
}

.game-container .character { 
	position: absolute; top: 200px; left: 200px; width: 26px; height: 26px;
	background-repeat: no-repeat; background-position: 50% 50%; font-size: 10px; font-weight: bold;
}
.game-container .character p {
	position: absolute; bottom: -10px; left: 0;
} 

.game-container .character.smash-tv.rotation-0 { background-image: url( '../img/characters/smash-tv/8wayrun/north.png' ); }
.game-container .character.smash-tv.rotation-45 { background-image: url( '../img/characters/smash-tv/8wayrun/northeast.png' ); }
.game-container .character.smash-tv.rotation-90 { background-image: url( '../img/characters/smash-tv/8wayrun/east.png' ); }
.game-container .character.smash-tv.rotation-135 { background-image: url( '../img/characters/smash-tv/8wayrun/southeast.png' ); }
.game-container .character.smash-tv.rotation-180 { background-image: url( '../img/characters/smash-tv/8wayrun/south.png' ); }
.game-container .character.smash-tv.rotation-225 { background-image: url( '../img/characters/smash-tv/8wayrun/southwest.png' ); }
.game-container .character.smash-tv.rotation-270 { background-image: url( '../img/characters/smash-tv/8wayrun/west.png' ); }
.game-container .character.smash-tv.rotation-315 { background-image: url( '../img/characters/smash-tv/8wayrun/northwest.png' ); }

#logger { font-family: monospace; padding: 20px; position: absolute; left: 0; bottom: 0; height: 160px; width: 1000px; background-color: #000; color: #fff; }