<script type="text/html">
	<div class="mainOverlay">
		<div class="creditsOverlay">
			<div class="creditsHeader">
				<a href="javascript:void(0);" class="closeBtn"><img src="img/global/btn-close.png" width="109" height="52" alt="Btn Close"></a>
				<h2>Meet The Team!</h2>
				<p>Lorem ipsum and all that jazz...</p>
			</div>
			<div class="creditsBody">
				<div class="column">
					<img src="img/global/txt-sponsors.png">
					<ul class="sponsors">
						<li>Dave Bolton</li>
						<li>Catherine Glover</li>
					</ul>
				</div>
				<div class="column">
					<img src="img/global/txt-developers.png">
					<ul class="developers">
						<li>Mario Gonzalez</li>
						<li>Adam S. Kirschner</li>
						<li>Russell Morgan</li>
						<li>Michael Paige</li>
						<li>Jamie Gilmartin</li>
						<li>Guojian Wu</li>
					</ul>
				</div>
				<div class="column creatives">
					<img src="img/global/txt-creatives.png">
					<ul class="creatives">
						<li class="title">Creative Director:</li>
						<li>Brent Brooks</li>
					</ul>
					<ul class="creatives">
						<li class="title">Associate Creative Directors:</li>
						<li>Simona Lo</li>
						<li>Nancy Hughes</li>
					</ul>
					<ul class="creatives">
						<li class="title">Art Directors:</li>
						<li>Shiela Ahmadi</li>
						<li>Rowen Frazer</li>
						<li>Stefan Georgi</li>
						<li>Missok Ji</li>
						<li>Simona Lo</li>
						<li>Addam Winsenburg </li>
					</ul>
				</div>
				<div class="column">
					<img src="img/global/txt-ux.png">
					<ul class="ux">
						<li>Yung-Hee Chia</li>
					</ul>
					<img src="img/global/txt-corpcommunications.png">
					<ul class="corp">
						<li>Elizabeth Abrams</li>
					</ul>
				</div>
				<div style="clear:both"></div>
			</div>
		</div>
	</div>
</script>