<script type="text/html">
	<div class="genericOverlay" id="devNotice">
		<div class="overlayContent">
			<div class="headerContent">
                <img class="overlayTitle" src="img/global/txt-developer-notice.png" alt="">
			</div>

			<div class="bodyContent">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat, elit ut ullamcorper fermentum,
                    ipsum orci eleifend urna, id auctor turpis urna ac nibh. Morbi gravida nisi id enim aliquet sagittis.
                    Pellentesque posuere nisi et massa volutpat ullamcorper interdum est ornare. Etiam turpis nulla,
                    pellentesque at ultrices ac, luctus a quam. Aliquam in tellus posuere sem vehicula consequat quis ut
                    arcu. Sed sollicitudin congue nulla non pulvinar. Nunc porta gravida lorem ut malesuada. Vestibulum
                    ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam euismod, eros
                    quis congue vehicula, felis eros dictum quam, ut faucibus erat libero vel nibh. Etiam sem metus,
                    condimentum sit amet vestibulum elementum, tincidunt lobortis est. Pellentesque magna quam, convallis
                    ut consectetur in, ultrices in nisl. Nullam tellus erat, accumsan nec vestibulum in, fringilla vitae nulla
                </p>
			</div>
        </div>
	</div>
</script>