<script type="text/html">
	<div class="genericOverlay" id="devNotice">
		<div class="overlayContent">
			<div class="headerContent">
                <img class="overlayTitle" src="img/global/txt-message-from-developers.png" alt="">
			</div>

			<div class="bodyContent">
                <p>
					This HTML5 game was made possible in part thanks to the follow libraries:
				</p>
				<ul>
					<li><a target="_blank" href="http://www.nodejs.org">Node.JS</a> - The gaming server</li>
					<li><a target="_blank" href="https://github.com/hyperandroid/CAAT/">CAAT</a> - HTMl5 Canvas scene graph</li>
					<li><a target="_blank" href="http://dev.w3.org/html5/websockets/">HTML5 WebSockets</a> - pretty self explanatory, without this, your browser wouldn't connect to the game! ;-)</li>
					<li><a target="_blank" href="https://github.com/BonsaiDen/BiSON.js">BiSON</a> - compressing network messages</li>
					<li><a target="_blank" href="http://jsclass.jcoglan.com/">JS.Class</a> - classical inheritance structure</li>
					<li><a target="_blank" href="http://www.requirejs.org">Require.JS</a> - modular code rocks!</li>
					<li><a target="_blank" href="http://www.github.com">GIT/GitHub</a> - thanks for a kick-ass VCS! merging is a beauty!</li>
					<li><a target="_blank" href="https://github.com/mrdoob/stats.js">Stats.js</a> - performance statistics and analysis</li>
				</ul>

				<p>
					The multiplayer network messaging system used in this game was inspired by <a href="http://developer.valvesoftware.com/wiki/Source_Multiplayer_Networking" target="_blank">Valve's Source whitepapers</a>.
				</p>

				<p>
					We are also proud to say that when this experiment comes to an end, we will be opening up our GitHub repository to all!
				</p>

				<p>
					Thank you, and we hope you enjoy this game!
				</p>

				<p style="text-indent: 50px;">
				 	- Mario Gonzalez (onedayitwillmake) and Adam S. Kirschner (hikirsch)
                </p>
			</div>
        </div>
		<img class="closeBtn" src="img/global/btn-close.png" alt="Close">
	</div>
</script>