<script type="text/html">
	<section class="game-status">
		<dl>
			<dt class="score">Your Score</dt>
			<dd class="score">${Score}</dd>

			<dt class="time-left">Time Left</dt>
			<dd class="time-left">${TimeLeft}</dd>

			<dt class="total-players">Players on Map</dt>
			<dd class="total-players">${TotalPlayers}</dd>

			<dt class="rank">Your Rank</dt>
			<dd class="rank">${Rank}</dd>
			
			<dt>&nbsp;</dt>
			<dd class="invite-friend" id="btn-invite">INVITE A FRIEND<</dd>
		</dl>
	</section>
</script>