<script type="text/html">
	<div class="howtoOverlay" id="instructions">
		<img src="img/instructions/txt-howto.png" alt="how to play" class="howtoTitle">
		<p>Just a few basic keys are needed to help you reign supreme in the land of snow.</p>
		<div class="keyContainers">
			<img src="img/instructions/arrow-keys.png">
			<div><strong>Arrows:</strong>Use them to move your character up, down left or right, ninja style.</div>
		</div>
		<div class="keyContainers">
			<img src="img/instructions/space-key.png">
			<div><strong>Space Bar:</strong>Hit this to throw. Rapid tapping is encouraged for maximum missive throwing.</div>
		</div>
		<div class="keyContainers">
			<img src="img/instructions/shift-key.png">
			<div><strong>Shift:</strong>Hold this down while tapping the Space Bar to strafe or shoot while moving sideways.</div>
		</div>
		<div class="keyContainers lastRow">
			<img src="img/instructions/tab-key.png">
			<div><strong>Tabs:</strong>Tapping this will bring up latest scores in an overlay.</div>
		</div>
		<div class="keyContainers">
			<img src="img/instructions/presents.png">
			<div class="powerUps"><strong>Power Ups:</strong>Like anything with a bow, presents can be very good or very bad. Grabbing a gift might give your character a special weapon Power Up.  Or it might result in the gamers' equivalent of argyle socks. Pick one up to find out. </div>
		</div>
		<a href="#" id="playBtn"><img src="img/global/btn-play.png" class="playButton"></a>
	</div>
</script>