<script type="text/html">
	<div class="howtoOverlay">
		<img src="img/instructions/txt-howto.png" alt="how to play" class="howtoTitle">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis viverra orci. Ut at elit nisi, sagittis pretium lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent ullamcorper ligula ac nibh tempor ut bibendum eros lobortis. </p>
		<div class="keyContainers">
			<img src="img/instructions/arrow-keys.png">
			<div><strong>Arrows:</strong>Ut at elit nisi, sagittis pretium lacus. Vestibulum ante ipsum primis in faucibus orci</div>
		</div>
		<div class="keyContainers">
			<img src="img/instructions/space-key.png">
			<div><strong>Space Bar:</strong>Ut at elit nisi, sagittis pretium lacus. Vestibulum ante ipsum primis in faucibus orci</div>
		</div>
		<div class="keyContainers lastRow">
			<img src="img/instructions/tab-key.png">
			<div><strong>Tabs:</strong>Ut at elit nisi, sagittis pretium lacus. Vestibulum ante ipsum primis in faucibus orci</div>
		</div>
		<a href="#"><img src="img/global/btn-play.png" class="playButton"></a>
	</div>
</script>