<script type="text/html">
	<div class="mainOverlay">
		<img src="img/intro/invite-scarf.png" class="invite">
		<div class="intro">
			<img src="img/intro/sno-big-deal.png" class="snobigdeal">
			<p class="introTxt">
				It's winter and that means it's time to embark on a time-honored, heartwarming holiday
				tradition &mdash; a raw knuckled, battle-to-the-finish snowball fight! Choose your character,
				wisely &mdash; each has its own special powers &mdash; and get ready to throw one.
				Happy Holidays, from your friends and family at Ogilvy & Mather.
			</p>
			<a href="#" class="jumpinLink-2"><img src="img/intro/intro-steps.png" class="introSteps"></a>
			<img src="img/global/btn-jumpin.png" class="btnJumpin">
		</div>
		<a href="#" class="jumpinLink"></a>
		<img src="img/intro/bg-characters.png" class="inviteCharacters" />
	</div>
</script>
