/* main overlay */
.overlay-container { z-index: 7000; position: absolute; background-image: url(../img/global/bg-overlay.png); }

/* legacy messaging */
.site-message { width: 250px; padding: 11px; color: #7eabba; position: absolute; z-index: 8000; border-radius: 20px; border: 3px solid #ff8e8e; background-color: #f3fcff; }
.site-message p { padding-bottom: 10px; font-size: 16px; line-height: 20px; font-weight: bold; }
.site-message label { display: block; padding: 0 5px; }
.site-message input[type='text'] { font-size: 16px; padding: 5px; border-radius: 5px; width: 225px; margin-bottom: 10px; }
.site-message input[type='submit'] { padding: 0 30px; background-color: #f3fcff; border-style: solid; border-color: #ff8e8e; border-radius: 5px; color: #7eabba; border-width: 2px; font-size: 16px; line-height: 20px; }
.site-message input[type='button']:hover { background-color: #f3fcff; border-color: #c13b3b; color: #7eabba; }
.site-message input[type='button']:active { background-color: #f3fcff; border-color: #c13b3b; color: #6398aa; }

/* welcome overlay */
.mainOverlay { width: 900px; height: 600px; position: absolute; top: 0; left: 0; background: transparent; color: #005072; font-family: "Lucida Grande", sans-serif; font-size: 13px; }
.mainOverlay .intro { background: url(../img/intro/bg-intro.jpg) no-repeat top center; -webkit-box-shadow: 0 0 10px #999; width: 810px; height: 600px; margin: auto; position: relative; overflow: visible; z-index: 8000; }
.mainOverlay .inviteCharacters { position: absolute; bottom: 0; left: -25px; display: block; z-index: 7000; }

.mainOverlay .snobigdeal { position: relative; left: 65px; top: -9px; }
.mainOverlay .btnJumpin { position: relative; z-index: 9000; left: 570px; top: 20px; overflow: visible; -webkit-box-reflect: below 0 -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(0.8,transparent),to(white)); display: block; }
.mainOverlay .jumpinLink { display: block; width: 160px; height: 45px; top: 335px; left: 625px; z-index: 8100; }
.introTxt { padding: 0; margin: 15px auto 15px 77px; line-height: 140%; width: 630px; opacity: 1; z-index: 8010; background: transparent; }
.introSteps { position: relative; left: 70px; top: 0; }

/* how to overlay */
.howtoOverlay { position: absolute; top: 0; width: 622px; height: 600px; font-family: "Lucida Grande", sans-serif; font-size: 12px; line-height: 1.3; color: #005072; background: url(../img/instructions/bg-instructions.jpg) no-repeat top left; overflow: hidden; z-index: 8000; -webkit-box-shadow: 0 0 10px #999; }
.howtoTitle { padding: 18px 0 5px 20px; }
.howtoOverlay p { margin: 0; padding: 0 60px 20px 20px; line-height: 110%; }
.howtoOverlay .keyContainers { width: 580px; padding-top: 13px; margin: 0 auto 16px; overflow: hidden; }
.howtoOverlay .keyArrows {  }
.howtoOverlay .keySpace { margin-bottom: 0; }
.howtoOverlay .keyShift {  }
.howtoOverlay .keyTab { padding-bottom: 9px; }
.howtoOverlay .keyContainers img { float: left; }
.howtoOverlay .keyContainers div { width: 280px; margin-left: 237px; }
.howtoOverlay .keyArrows div { padding-top: 4px; }
.howtoOverlay .keyContainers div strong { display: block; padding-bottom: 5px; }
.howtoOverlay .powerUps { border-top: 1px solid #c9dadf; }
.howtoOverlay .powerUps div { width: 480px; margin-left: 81px; }
.howtoOverlay .playButton {  position: absolute; right: 36px; bottom: 21px; cursor: pointer; -webkit-box-reflect: below 0 -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(0.5,transparent),to(white)); }

.mainOverlay .invite { position: relative; float: right; display: block; z-index: 8100; margin-right: 13px; }

/* countdown overlay */
.countOverlay { 
	background: url(../img/countdown/bg-countdown.jpg) no-repeat top left; 
	position: absolute; overflow: hidden; width: 251px; height: 217px; top: 0; left: 0; 
	-webkit-box-shadow: 0 0 10px #999; color: #005072; font-family: "Lucida Grande", sans-serif; font-size: 12px; line-height: 120%; 
}

.countOverlay .prepare { position: relative; top: 22px; left: 25px; display: block; }
.countOverlay .matchstart { position: relative; left: 74px; top: 55px; }
.countOverlay .time { width: 251px; font-size: 85px; font-family: Arial; color: #11adb7; text-align: center; position: relative; top: 95px; }

/* results overlay */
.results { background: url(../img/results/bg-results.jpg) no-repeat top center; -webkit-box-shadow: 0 0 10px #999; width: 810px; height: 600px; margin: auto; position: relative; overflow: hidden; z-index: 8000; }
.resultsHeader { width: 760px; height: 85px; margin: 25px 25px 0; position: relative; color: #005072; }
.resultsHeader .nextMatch { position: absolute; left: 345px; top: 20px; background: url(../img/results/txt-next-match.png) top left no-repeat; font-size: 42px; color: #11adb7; padding-top: 15px; font-family: Arial; width: 124px; }
.resultsHeader .changeCharacter { position: absolute; top: 30px; left: 525px; -webkit-box-reflect: below 0 -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(0.7,transparent),to(white)); }
.resultsHeader p { width: 340px; font-size: 12px; line-height: 1.3; padding: 10px 0 0; }
.results .resultsData { margin: 10px 5px 0 5px; background: transparent; }
.results .resultsData .even { background: #e2ebf1; }
.results .resultsData .spacer { background: transparent !important; }
.results .resultsData td { padding-top: 5px; padding-bottom: 5px; color: #0b748d; font-size: 12px; }
.results .resultsData th { padding-bottom: 10px; padding-top: 10px; text-align: left; }
.results .resultsData td.playa { background: #0a5291; color: #fff !important; }
.results .resultsData .position { color: #3da7c1; text-align: center; font-size: 11px; }
.results .resultsData .center { text-align: center; color: #03a69a; }
.results .resultsData .stun { color: #9269e4; }
.results .resultsData .frozen { color: #269cd9; }
.results .resultsData .ping { color: #089583; }

/* character select overlay */
.mainOverlay .choose { 
	width: 810px; height: 600px; margin: auto; position: relative; overflow: hidden; z-index: 8000; 
	background: url(../img/character-select/bg-character-select.jpg) no-repeat top center; 
	-webkit-box-shadow: 0 0 10px #999; 
}
.choose .introText { margin: 0 auto auto 20px; width: 787px; padding-top: 15px; }
.choose .introText img { display: block; margin-bottom: 10px; }
.choose .nav { position: relative; width: 810px; height: 370px; margin: 60px auto 0 auto; z-index: 8200; }
.choose .nav .name { position: absolute; left: 430px; top: 0; width: 255px; height: 65px; background: url(../img/character-select/bg-choose-name.png) top left no-repeat; padding: 0 9px; }
.choose .nav .name label { display: block; font-weight: bold; line-height: 1.4; color: #005072; padding: 6px 0px 2px; }
.choose .nav .name input { display: block; width: 225px; font-size: 14px; font-family: "Lucida Grande", sans-serif; color: #005072; background: transparent; padding: 3px; border: 1px solid #bed6db; margin: 0; }
.choose .nav .name input:-webkit-input-placeholder { color: #005072; }
.choose .nav .name input:-moz-placeholder { }

.choose .nav .name small { display: block; padding-top: 10px; font-size: 10px; color: #337593; }
.choose .nav .chooseArrows { position: absolute; top: 135px; left: 20px; cursor: pointer; -webkit-box-reflect: below 0 -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(0.7,transparent),to(white)); }
.choose .nav .chooseArrows.arrowRight { left: 715px; }
.choose .nav .btnSelect { position: absolute; cursor: pointer; top: 325px; left: 445px; }
.choose .characters { width: 810px; position: relative; height: 100px; margin-top: 20px; }
.choose .characters div { float: left; height: 84px; width: 89px; margin-right: 65px; overflow: hidden; cursor: pointer; }
.choose .characters .yeti { background: url(../img/character-select/yeti.png) no-repeat bottom left; margin-left: 65px; }
.choose .characters .tree { background: url(../img/character-select/tree.png) no-repeat top left; }
.choose .characters .penguin { background: url(../img/character-select/penguin.png) no-repeat top left; }
.choose .characters .robot { background: url(../img/character-select/robot.png) no-repeat top left; }
.choose .characters .snowman { background: url(../img/character-select/snowman.png) no-repeat top left; margin-right: 0 !important; }
.choose .carousel { position: absolute; top: 86px; left: 0; height: 500px; width: 4100px; overflow: visible; -webkit-transition: all 0.7s ease; }
.choose .carousel div { width: 810px; float: left; position: relative; min-height: 480px; }
.choose .carousel .treeDetails { color: #058742; }
.choose .carousel .yetiDetails { color: #ae3737}
.choose .carousel .penguinDetails { color: #0b8f95; }
.choose .carousel .robotDetails { color: #710000; }
.choose .carousel .snowDetails { color: #e37736; }
.choose .carousel .bigTree { position: absolute; top: 20px; left: 160px; }
.choose .carousel .bigYeti { position: absolute; top: -20px; left: 90px; }
.choose .carousel .bigPenguin { position: absolute; top: 70px; left: 150px; }
.choose .carousel .bigRobot { position: absolute; top: 63px; left: 140px; }
.choose .carousel .bigSnowman { position: absolute; top: 50px; left: 100px; }
.choose .carousel div img { position: absolute; top: 0; left: 0; }
.choose .carousel div p { position: absolute; left: 440px; top: 138px; margin: 0; padding: 0; width: 200px; line-height: 130%; }

/* invite overlay */
.inviteOverlay { position: absolute; left: -10px; top: 0; width: 623px; height: 461px; background: #fff url(../img/invite/bg-invite.jpg) no-repeat top left; -webkit-box-shadow: 0 0 10px #999; z-index: 8000; }
.inviteOverlay .overlayContent { padding: 16px 20px 20px; }
.inviteOverlay .overlayTitle { margin: 0 0 12px; }
.inviteOverlay p { font-size: 13px; font-family: "Lucida Grande", sans-serif; line-height: 1.4; color: #005072; margin: 0 0 10px; }
.inviteOverlay fieldset { padding: 24px 0 0; }
.inviteOverlay .formControl { padding: 0 0 22px; }
.inviteOverlay .formControls { overflow: hidden; }
.inviteOverlay .formControls .formControl { float: left; width: 270px; }
.inviteOverlay .formControls .emailField { width: 290px; margin-right: 20px; }
.inviteOverlay label { display: block; font-weight: bold; line-height: 1.4; color: #005072; padding: 0 0 8px; }
.inviteOverlay label span { display: block; font-weight: normal; }
.inviteOverlay input, .inviteOverlay textarea { font-size: 12px; color: #989898; border: 1px solid #c9cccd; }
.inviteOverlay input { width: 100%; height: 28px; }
.inviteOverlay textarea { width: 580px; height: 89px; }
.inviteOverlay .buttonContainer { text-align: right; padding: 22px 0 0; }
.inviteOverlay .buttonContainer input { border: none; }
.inviteOverlay .invite-button { width: auto; height: auto; -webkit-box-reflect: below 0 -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(0.7,transparent),to(white)); }
.inviteOverlay .closeBtn { position: absolute; top: -11px; right: 36px; cursor: pointer; }

/* credits overlay */
.creditsOverlay { position: absolute; top: 0; width: 813px; height: 364px; background: url(../img/global/bg-credits.jpg) left top no-repeat; margin: auto; z-index: 8000; -webkit-box-shadow: 0 0 10px #999; }
.creditsOverlay .overlayTitle { display: block; margin: 25px 0 15px 25px; }
.creditsOverlay .closeBtn { position: absolute; top: -11px; right: 36px; cursor: pointer; }
.creditsOverlay .creditsBody { padding: 23px 0 0 25px; }
.creditsOverlay .creditsBody .column { float: left; width: 190px; }
.creditsOverlay .creditsBody .developers { width: 282px; }
.creditsOverlay .creditsBody .creatives { width: 302px; }
.creditsOverlay .creditsBody .column ul { list-style-type: none; padding: 10px 0 10px; }
.creditsOverlay .creditsBody .column ul li { line-height: 20px; font-size: 12px; }

.creditsOverlay .creditsBody ul.developers { color: #03a69a; }
.creditsOverlay .creditsBody ul.creatives { color: #9269e4; }
.creditsOverlay .creditsBody ul.corp { color: #269cd9; }
.creditsOverlay .creditsBody ul.sponsors { color: #089583; }

/* browser requirements overlay */
.browserReqOverlay { position: absolute; width: 777px; height: 207px; background: url(../img/browser-req/bg-browser-req.jpg) left top no-repeat; margin: auto; overflow: hidden; z-index: 8000; -webkit-box-shadow: 0 0 10px #999; }
.browserReqOverlay .overlayContent { padding: 30px 55px 0; }
.browserReqOverlay .overlayTitle { margin: 0 0 12px; }
.browserReqOverlay p { font-size: 13px; font-family: "Lucida Grande", sans-serif; color: #005072; margin: 0 0 34px; }
.browserReqOverlay a img { -webkit-box-reflect: below 0 -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(0.5,transparent),to(white)); }
.browserReqOverlay #dlChrome { margin-right: 54px; }
.browserReqOverlay #dlSafari { }

/* invite overlay */
#devNotice { position: absolute; left: -10px; top: 0; width: 606px; height: 514px; background: url(../img/global/bg-dev-notice.png) no-repeat top left; z-index: 8000; }
#devNotice .overlayContent { padding: 16px 20px 20px; }
#devNotice .headerContent { padding-top: 15px; height: 35px; padding-bottom: 10px; }
#devNotice .overlayTitle { margin: 0 0 12px; }
#devNotice .bodyContent { padding: 10px; }
#devNotice a { color: #005072; }
#devNotice p { font-size: 13px; font-family: "Lucida Grande", sans-serif; line-height: 1.4; color: #005072; margin: 0 0 10px; }
#devNotice ul { padding-left: 20px; margin-bottom: 10px; }
#devNotice ul li { font-size: 13px; font-family: "Lucida Grande", sans-serif; line-height: 1.4; color: #005072; margin: 0 0 2px; }
#devNotice .closeBtn { position: absolute; top: -11px; right: 36px; cursor: pointer; }

