<script type="text/html">
	<div class="browserReqOverlay" id="browserReq">
        <div class="overlayContent">
            <img src="img/browser-req/txt-oh-snowbadz.png" alt="Oh Snowbadz!" class="overlayTitle">
            <p>You’ll need to upgrade your browser to play this game. Use Chrome 7+ or Safari 5+. If you’re using Internet Explorer we’ll ask you to install Chrome Frame. It’s as easy as making a snowball!</p>
            <a href="http://www.google.com/chrome" target="_blank" id="dlChrome"><img src="img/browser-req/btn-download-chrome.png"></a>
            <a href="http://www.apple.com/safari" target="_blank" id="dlSafari"><img src="img/browser-req/btn-download-safari.png"></a>
        </div>
	</div>
</script>