<script type="text/html">
    <div class="creditsOverlay">
        <img src="img/global/txt-meettheteam.png" alt="Meet The Team!" class="overlayTitle">

        <div class="creditsBody">
            <div class="column developers">
                <img src="img/global/txt-developers.png" alt="Developers Who Built It">
                <ul class="developers">
                    <li>Mario Gonzalez</li>
                    <li>Adam S. Kirschner</li>
                    <li>Jamie Gilmartin</li>
                    <li>Russell Morgan</li>
                    <li>Michael Paige</li>
                    <li>Guojian Wu</li>
                </ul>
            </div>
            <div class="column creatives">
                <img src="img/global/txt-creatives-who-fancified.png" alt="Creatives Who Fancified It">
                <ul class="creatives">
                    <li>Brent Brooks</li>
                    <li>Simona Lo</li>
                    <li>Nancy Hughes</li>
                    <li>Rowen Frazer</li>
                    <li>Stefan Georgi</li>
                    <li>Misook Ji</li>
                    <li>Sheila Ahmadi</li>
                    <li>Adam Winsenburg </li>
                    <li>Yung-Hee Chia</li>
                </ul>
            </div>
            <div class="column">
                <img src="img/global/txt-she-who-drove.png" alt="She Who Drove It">
                <ul class="corp">
                    <li>Elizabeth Abrams</li>
                </ul>
                <img src="img/global/txt-those-who-approved.png" alt="Those Who Approve It">
                <ul class="sponsors">
                    <li>Catherine Glover</li>
                    <li>Dave Bolton</li>
                </ul>
                <img src="img/global/txt-those-who-hosted.png" alt="Those Who Hosted It">
                <ul class="sponsors">
                    <li>Yuri Aguiar</li>
                    <li>Andres Andreu</li>
                    <li>Addison Chappell</li>
                    <li>Marco Schirrmeister</li>
                </ul>
            </div>
        </div>

        <img class="closeBtn" src="img/global/btn-close.png" alt="Close">
    </div>
</script>